In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('data/gender_classification.csv');

In [4]:
train.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [5]:
train.shape

(66, 5)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
Favorite Color          66 non-null object
Favorite Music Genre    66 non-null object
Favorite Beverage       66 non-null object
Favorite Soft Drink     66 non-null object
Gender                  66 non-null object
dtypes: object(5)
memory usage: 2.7+ KB

In [26]:
train["Favorite Color"].value_counts()
color_mapping = {"Cool": 0, "Warm": 1, "Neutral": 2}
for dataset in [train]:
    dataset['color'] = dataset['Favorite Color'].map(color_mapping)

Cool       37
Warm       22
Neutral     7
Name: Favorite Color, dtype: int64

In [51]:
train['Favorite Music Genre'].value_counts()
music_mapping = {"Rock": 0, "Pop": 1, "Electronic": 2, "Hip hop": 3, "R&B and soul": 4, "Jazz/Blues": 5, "Folk/Traditional": 6}
for dataset in [train]:
    dataset['music'] = dataset['Favorite Music Genre'].map(music_mapping)

In [53]:
train['Favorite Beverage'].value_counts()
beverage_mapping = {"Doesn't drink": 0, "Beer": 1, "Other": 2, "Wine": 3, "Whiskey": 4, "Vodka": 5}
for dataset in [train]:
    dataset['beverage'] = dataset['Favorite Beverage'].map(beverage_mapping)

In [39]:
train['Favorite Soft Drink'].value_counts()
softdrink_mapping = {"Coca Cola/Pepsi": 0, "Fanta": 1, "7UP/Sprite": 2, "Other": 3}
for dataset in [train]:
    dataset['softdrink'] = dataset['Favorite Soft Drink'].map(softdrink_mapping)

Coca Cola/Pepsi    32
Fanta              14
7UP/Sprite         13
Other               7
Name: Favorite Soft Drink, dtype: int64

In [54]:
train.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender,color,music,beverage
0,Cool,Rock,Vodka,7UP/Sprite,F,0,0,5
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F,2,3,5
2,Warm,Rock,Wine,Coca Cola/Pepsi,F,1,0,3
3,Warm,Folk/Traditional,Whiskey,Fanta,F,1,6,4
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F,0,0,5